<div ng-cloak>
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
      <md-toolbar class="md-theme-watch">
        <div class="left-sidebar">
          <div class="pull-left"><h1 class="md-toolbar-tools">Refine Results By</h1></div>
          <div class="pull-right">
            <div class="md-accent md-toolbar-tools cursor-pointer" ng-click="toggleLeft()"><i class="fa fa-angle-double-left" aria-hidden="true"></i></div>
          </div>
        </div>
      </md-toolbar>

      <md-content layout-margin>
        <form name="searchForm">
          <div layout-gt-sm="row" ng-repeat="(key, value) in searchMaster.propertiesKeys">
            <md-autocomplete flex
                             md-input-name="autocompleteField"
                             md-no-cache="noCache"
                             md-input-minlength="1"
                             md-input-maxlength="18"
                             md-selected-item="selectedItem[key]"
                             md-search-text="searchText[key]"
                             md-items="item in loadValuesByProperty(searchText[key], key)"
                             md-item-text="item"
                             md-floating-label="{{value}}">
              <md-item-template>
                <span md-highlight-text="searchText[key]">{{item}}</span>
              </md-item-template>
              <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
              </div>
            </md-autocomplete>
          </div>
<!--
          <md-input-container class="md-block" ng-repeat="(key, value) in searchMaster.propertiesKeys">
            <label>{{value}}</label>
            <input md-maxlength="30" name="key" ng-model="project.description">
            <div ng-messages="searchForm[key].$error">
            </div>
          </md-input-container>
-->
          <div>
            <md-button class="md-raised" type="submit">Search</md-button>
          </div>

        </form>
      </md-content>

    </md-sidenav>

    <md-content flex>
      <div class="neo4j-toggle-left">
        <md-button ng-click="toggleLeft()" class="md-raised md-primary">
          <i class="fa fa-search" aria-hidden="true"></i> Filter
        </md-button>
        <!--<md-button ng-click="toggleLeft()" class="md-raised md-primary">
          <i class="fa fa-plus" aria-hidden="true"></i> Add Nodes
        </md-button>-->
      </div>
      <div class="nbc-graph">
        <graph></graph>
      </div>
    </md-content>

  </section>

</div>
