<div ng-cloak>
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left" md-component-id="filter" md-whiteframe="4" md-enable-backdrop>
      <div ng-controller="graphFilterCtrl"><ng-include src="'app/graphFilter/graphFilter.html'"></ng-include></div>
    </md-sidenav>

    <md-content flex>
      <div class="neo4j-toggle-left">
        <md-button ng-click="toggleLeft()" class="md-raised md-primary">
          <i class="fa fa-search" aria-hidden="true"></i> Filter
        </md-button>
      </div>
      <div class="nbc-graph">
        <div class="graph-slider">
          <md-slider-container>
            <md-slider flex min="1" max="5" ng-model="color.red" aria-label="red" id="red-slider">
            </md-slider>
            <!--<md-input-container>
              <input flex type="number" ng-model="color.red" aria-label="red" aria-controls="red-slider">
            </md-input-container>-->
          </md-slider-container>
        </div>
        <graph></graph>
      </div>
    </md-content>

  </section>

</div>
