body.neo4j-custom, html  {
  font-family: Open_Sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.125 em;
  height: 100%;
  color: rgba(0,0,0,.87);
  background-color: #4A6986;
}

body.neo4j-custom #neo4jgraph {
  background: #ddd;
}

body.neo4j-custom .page-title {
   position: absolute;
   bottom: 0;
   right: 5px;
   padding: 10px;
   color: #FFF;
   font-weight: bold;
   border-top: 2px solid #c33;
   border-bottom: 2px solid #c33;
   border-radius: 3px;
}
