<md-dialog aria-label="{{labelName}}" cg-busy="{promise:uploadPromise,message:'Uploading Icon...'}">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{labelName}}</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <form name="editNodeForm" action="upload" enctype="multipart/form-data" role="form" novalidate>
            <md-input-container ng-repeat="(key, value) in nodeInfo.properties">
              <label>{{value.displayName}}</label>
              <input name="{{key}}" ng-model="propertyList[key]"
                     ng-pattern="value.restriction">
              <div ng-messages="editNodeForm[key].$error">
                <div ng-message="pattern" class="my-message">Invalid Data type!</div>
              </div>
            </md-input-container>
           <aps-upload-file></aps-upload-file>
        </form>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="closeDialog()">
        CANCEL
      </md-button>
      <md-button ng-show="editMode" ng-click="deleteNode()">
        Delete
      </md-button>
      <md-button ng-click="saveNode()">
        <span ng-show="editMode == true">Update</span><span ng-show="editMode == false">Save</span>
      </md-button>
    </md-dialog-actions>
</md-dialog>
